<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.CrossPlatform.Printing.DrawingEngine" version="1.0.14" targetFramework="net472" />
  <package id="DevExpress.Data" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Data.de" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Data.es" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Data.ja" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.DotNet.Web.ProjectTemplates" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Xpo.de" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Xpo.es" version="22.2.8" targetFramework="net472" />
  <package id="DevExpress.Xpo.ja" version="22.2.8" targetFramework="net472" />
  <package id="DevExtreme.AspNet.Data" version="2.9.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>